@page "/main"
@using DNP1_A1.Login
<div style="display: flex; justify-content:center; align-items:center; flex-direction:column">
<h1  style="font-family: 'Times New Roman', Times, serif; font-size: 100px;">family</h1>
<h4 style="font-family: 'Times New Roman', Times, serif;font-size: 25px;">[fam - <i> uh</i> - lee] noun</h4>

<p>
A family, a group of people who genuinely love, trust, care about, and look out for each other.
<br>
 Sometimes a little bit crazy, a little bit loud, but a whole lot of love.
</p>
</div>
